#display {
	width: 196px;
	height: 50px;
	border: 2px solid;
	border-color: rgb(128, 128, 128);
	border-radius: 4px;
	margin: 8px 0px;
}

#clear,
#delete {
	width: 100px;
	padding: 0px;
	margin: 0px;
}

#buttons {
	display: flex;
	justify-content: center;
}

.numbers {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	width: 150px;
}

.row {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 0px;
	width: 150px;
}

#operations {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#calculator {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.number {
	margin: 0px;
	padding: 0px;
}

.dels {
	justify-content: flex-end;
	width: 200px;
}

button {
	width: 50px;
	height: 50px;
}
